extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jairo Hernandez

        p.lead.text-light
          | MERN based developer making efficient & dynamic code

        .portfolio-bio
          p
            | Hello, world. Software engineer here that applies critical thinking & problem solving tools developed during my Physics undergrad studies to create dependable applications. My interest in JavaScript started during a computational physics course, where we used Python to create simulations of physical processes. I saw the constant evolution of tools used for the language, bringing more capabilities and functionalities. I concentrated my studies by diving into the MERN (MongoDB, Express, React, Node) stack, to develop modern, functional applications. 
            | I look forward to collaborating with others to create cool applications!

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Node.js
          li React
          li SQLite
          li Sequelize
          li REST API
          li Agile
          li Pug
          li Git
          li Responsive Design
          li Python
          li Physics
          li Critical Thinking
          li Problem Solving

        h6 Contact Info
        ul
          li jairoh28@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jairohernandez1/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/hjairo' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    //- a(href='/') ← Home
  