extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Home
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jairo Hernandez

        p.lead.text-light
          | MERN based full stack developer making efficient, dynamic, and reliable code.

        .portfolio-bio
          p
            | Hello, world. My name is Jairo. I'm a software engineer that applies critical thinking and problem solving tools developed during my undergraduate Physics studies to create dependable applications. My interest in JavaScript started during a computational physics course, where we used Python to create simulations of natural phenomena. I saw the new tools being developed for the language, bringing more capabilities and functionalities. I concentrated my education by taking the Full Stack JavaScript Techdegree, developing modern, functional applications. I look forward to combining my toolset and experience with the experiences of others into making great applications!

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Node.js
          li React
          li SQLite
          li Sequelize
          li REST API
          li Agile
          li Pug
          li Git
          li Responsive Design
          li Python
          li Physics
          li Critical Thinking
          li Problem Solving

        h6 Contact Info
        ul
          li jairoh28@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jairohernandez1/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/hjairo' target='_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    //- a(href='/') ← Home
  